<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Aquí va el resto de los tags <meta>, <link>, etc. -->

  <link rel="stylesheet" href="/css/styles.css">
  <title>{{pageTitle}}</title>
</head>
<body>
  {{{body}}}
  
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
</body>

    
</html>